@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Outfit";
}

body {
	margin: 0 !important;
	padding: 0 !important;
}

a.active hr {
	display: block;
}

@media (max-width: 640px) {
	a.active {
		background-color: orange;
		color: white;
	}
}

::-webkit-scrollbar {
	display: none;
}

/* .prata-regular {
	font-family: "Prata", serif;
	font-weight: 400;
	font-style: normal;
} */

.raleway-uniquifier {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

.slider {
	background: #f97316; /* Orange color */
}

.modal-container {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
}
.modal-label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}
.modal-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin-bottom: 20px;
}
.modal-buttons {
	display: flex;
	justify-content: flex-end;
}
.modal-button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.modal-button.cancel {
	background-color: #ff5757;
	color: #ffffff;
	margin-right: 10px;
}
.modal-button.save {
	background-color: #4caf50;
	color: #ffffff;
}
